@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf);
}

#container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
}

.form {
    background-color: white;
    height: 70vh;
}

img {
    width:40vw;
    height: 70vh;
}