@font-face {
    font-family: 'Norse Bold';
    src: url('Fonts/Norse-Bold.otf') format('opentype');
}

body {
    width: 100vw;
    height: 100vh;
    border: 1px solid black 
}

#container {
    display: flex;
    flex-direction: row;
}

.picture {
    background-image: url(/home/joe/Desktop/TheOdinProject/Form-Project/Images/halie-west-25xggax4bSA-unsplash.jpg);
    width: 40vw;
    height: 100vh;
    background-position: center center;
    background-size: 100% 100%;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 20vh;
    margin-top: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center; 
    
    color: white;
    font-size: 100px;
    font-family: 'Norse Bold';
}

.logo-img {
    height: 120px;
    width: 35%;
}

.form {
    background-color: white;
    width: 60vw;
}

#class-header {
    width: auto;
    height: 33vh;

    background-color: rgba(249,250,251,255);
}

#form-inputs {
    width: auto;
    height: 33vh;

    border: 1px solid black;
}

#form-footer {
    width: auto;
    height: 34vh;

    border: 1px solid black;
}

#header-text {
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 18px;

    padding-top: 100px;
    padding-left: 30px;
    padding-right: 80px;
}